footer
  include ../component/to-top/pug/toTop.pug

script
  include ../../www/assets/js/fontfaceobserver.js
  
script
  include ../../www/assets/js/async-assets-loading.min.js

if isProd
  script(src="/assets/dist/" + ssgScript() )
else if !isProd
  script(src="/assets/js/script.js")
