-

    const propValidate = (p, o) => p.reduce((xs, x) => (xs && xs[x]) ? xs[x] : null, o)
    const notFound = 'not found'
    const bodyClassPageId = () => {
        return `page-${univoqueId} page-${pageType} template-${templatename}`
    }
    
    
    
    /*
    * get obj nested value or 'not found string'
    */
    function getVal(obj, ...props) {  
        const deepCheck = (props, obj) => {
            return props.reduce((p, c) => {
                p = (p[c]) ? p[c] : notFound
                return p
            }, obj)
        }
        
        return (typeof obj !== "undefined") ? deepCheck(props, obj) : notFound
    }
    
    
    
    /*
    * get category name by unique id
    */
    function getCategoryName(univoqueId) {
        return (propValidate([univoqueId, lang, 'name'], categoryLocales)) 
            ? categoryLocales[univoqueId][lang].name
            : notFound
    }
    
    
    
    /*
    * get tag name by unique id
    */
    function getTagName(univoqueId) {
        return (propValidate([univoqueId, lang, 'name'], tagLocales)) 
            ? tagLocales[univoqueId][lang].name
            : notFound
    }
    
    
    
    /*
    * get page name by unique id
    */
    function getPageTitle(univoqueId) {
        return (propValidate([univoqueId, lang], pageTitleMap)) 
            ? pageTitleMap[univoqueId][lang]
            : notFound
    }
    
    
    
    /*
    * get permalink by unique id
    */
    function getPermalink(univoqueId) {
        return (propValidate([univoqueId, lang], permalinkMap)) 
            ? permalinkMap[univoqueId][lang]
            : null
    }
    
    
    /*
    * get category name by unique id
    */
    function getCategoryPermalink(univoqueId) {
        return (univoqueId && propValidate([univoqueId, lang, 'indexUnivoqueId'], categoryLocales)) 
            ? getPermalink(categoryLocales[univoqueId][lang].indexUnivoqueId)
            : null
    }
    
    /*
    * get category name by unique id
    */
    function getTagPermalink(univoqueId) {
        return (univoqueId && propValidate([univoqueId, lang, 'indexUnivoqueId'], tagLocales)) 
            ? getPermalink(tagLocales[univoqueId][lang].indexUnivoqueId)
            : null
    }
    
    /*
    * get image form manifest
    */
    function getImage(image) {
        return `/assets/dist/${manifest[image]}`
    }
    
    
