mixin list(item, level)
    each val, index in item
        - const heaveChildrenClass = (val.children) ? 'menu-item menu-item-has-children' : 'menu-item'
        - const isDraft = ssgIsDraft(val.univoqueId)
        
        if(!isDraft)
            li(class=heaveChildrenClass)
                - const checkLabel = ssgPermalink(val.univoqueId)
                - const label = checkLabel ? ssgPageTitle(val.univoqueId) : ssgPrint(val, 'label')
                        
                a(href=ssgPermalink(val.univoqueId))
                    |#{label}
                        
                if val.children
                    ul.sub-menu(data-level=level)
                        - const nextLevel = level + 1;
                        +list(val.children, nextLevel)



.nav-wrap
  .toggle-wrap.clearfix
    .toggle-element
      span
      span
      span
      span
    button.main-arrow-back
  nav.nav(role='navigation')
      ul.main-menu(data-level='0')
          if(navigation)
              +list(navigation, 1)
