mixin list(item)
    each val, index in item
        - const heaveChildrenClass = (val.children) ? 'menu-item menu-item-has-children' : 'menu-item'
        
        li(class=heaveChildrenClass)
            - const isValidLink = propValidate([val.univoqueId, lang], permalinkMap) ? true : false;
                    
            if isValidLink
                a(href=getPermalink(val.univoqueId))
                    |#{getSlugName(val.univoqueId)}
            else
                a(href='#')
                    |#{getVal(val, 'label')}
                    
            if val.children
                ul.sub-menu
                    +list(val.children)



.nav-wrap
  .toggle-wrap.clearfix
    .toggle-element
      span
      span
      span
      span
    button.main-arrow-back
  nav.nav(role='navigation')
      ul.main-menu
          if(navigation)
              +list(navigation)
