mixin list(item)
    each val, index in item
        - const heaveChildrenClass = (val.children) ? 'menu-item menu-item-has-children' : 'menu-item'
        
        li(class=heaveChildrenClass)
            - const checkLabel = ssgPermalink(val.univoqueId)
            - const label = checkLabel ? ssgPageTitle(val.univoqueId) : ssgPrint(val, 'label')
                    
            a(href=ssgPermalink(val.univoqueId))
                |#{label}
                    
            if val.children
                ul.sub-menu
                    +list(val.children)



.nav-wrap
  .toggle-wrap.clearfix
    .toggle-element
      span
      span
      span
      span
    button.main-arrow-back
  nav.nav(role='navigation')
      ul.main-menu
          if(navigation)
              +list(navigation)
