if pagination
    div
        a(href=pagination.previousPage)
            |prev
    div
        a(href=pagination.nextPage)
            |next
    div
        |page #{ssgPrint(pagination, 'current')} 
        |of #{ssgPrint(pagination, 'total')}
