.offset-slider(data-conponent='m-comp--offSetSlider' data-step="8")
    .offset-slider__container
        .offset-slider__item(data-width="350" data-fluid) 
            p
                |!{lorem}
        .offset-slider__item(data-width="100") 
        .offset-slider__item(data-width="300" data-fluid)
            p
                |!{lorem}
        .offset-slider__item(data-width="250" data-driven data-fluid) 
            p
                |!{lorem}
    .offset-slider__arrows
        button.offset-slider__prev
            |Pre
        button.offset-slider__next
            |next
