.lightbox {
    background-color: rgba($black , .8);
    position: fixed;
    top: 0;
    height: calc(var(--vh, 1vh) * 100);
    left: 0;
    right: 0;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s;

    &--image {
        user-select: none;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        transition: width 0.35s, height 0.35s;

        @include when-inside('.lightbox--image') {
            max-width: none;
            width: auto;
        }

        @include when-inside('.lightbox--video') {
            max-width: none;
            width: auto;
        }
    }

    &__static-content {
        background-color: $white;
        padding: 20px;
    }


    &__dinamic-content {
        min-height: 8rem;
        transition: width 0.35s, height 0.35s;

        @include when-inside('.lightbox--image') {
            height: 200px;
            width: 200px;
        }
        @include when-inside('.lightbox--video') {
            height: 200px;
            width: 200px;
            position: relative;
        }
    }

    &__closeBtn {
        width: 2rem;
        height: 2rem;
        background-color: $white;
        border: 0;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
    }

    &__img {
        width: 100%;
        opacity: 0;
        transition: opacity 0.35s, transform .05s;
        display: block;

        &.visible {
            opacity: 1;
        }

        &.transition {
            transition: transform .55s;
        }

        &.drag-cursor {
            cursor: move;
        }
    }

    &__video {
        opacity: 0;
        transition: opacity 0.35s;

        &.visible {
            opacity: 1;
        }

        embed,
        iframe,
        object,
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        video {
            object-fit: cover;
        }
    }

    &__description {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 300px;
        width: 100%;
        min-height: 100px;
        background-color: $black;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
        padding: 1rem;
        transform: translateY(-100%);

        &__btn {
            position: absolute;
            top: 100%;
        }

        h2,
        p {
            color: $white;
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &.active.show {
            transform: translateY(0);
        }

        &.active.hide {
            transform: translateY(-100%);
        }

        &.show {
            .lightbox__description__show {
                display: none;
            }

            .lightbox__description__hide {
                display: inline-block;
            }
        }

        &.hide {
            .lightbox__description__show {
                display: inline-block;
            }

            .lightbox__description__hide {
                display: none;
            }
        }
    }

    &__nav {
        opacity: 0;
        display: flex;
        justify-content: space-between;
        transition: opacity .35s;

        &.visible {
            opacity: 1;
        }

        &__next,
        &__prev {
            flex: 0 0 auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &__next {
            right: 0;
        }

        &__prev {
            left: 0;
        }
    }

    &__zoom {
        &__in,
        &__out {
            flex: 0 0 auto;
            position: absolute;
            bottom: 0;
        }

        &__in {
            right: 0
        }

        &__out {
            left: 0;
        }
    }
}
