.lightbox.lightbox--static
  .lightbox__wrap
    .lightbox__container
      .lightbox__closeBtn-wrap.clearfix
        button.lightbox__closeBtn(type='button')
      .lightbox__static-content
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  .lightbox__description.show
    .lightbox__title
    .lightbox__paragraph
    button.lightbox__description__btn(type='button')
      span.lightbox__description__hide hide
      span.lightbox__description__show show
