extends wrapper.pug

block content
        
    header
        .container
            include ../../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../../includes/navigation.pug
    main
        .container
            div
                a(href=ssgCategoryPermalink(exportPost.category))
                    |back
            div
                |#{ssgDate(ssgPrint(exportPost, 'date'))}
            div
                |#{ssgPrint(pageTitle)}
                
