.scroller
    .scroller__row
        section.scroller__section(data-shadow='HP-1')
            h1 section 1
        section.scroller__section(data-shadow='HP-2')
            h1
                a(href="https://www.google.com/" target="_blank") link
        section.scroller__section.scroller__section--3(data-shadow='HP-3')
            h1(data-shadow='HP-3-title' data-debug) section 3
        section.scroller__section(data-shadow='HP-4')
            h1.js-scroll-item section 4
        section.scroller__section(data-shadow='HP-5')
            h1.js-parallax-test section 5
        section.scroller__section.scroller__section--3(data-shadow='HP-6')
            h1.js-parallax-test section 6
        section.scroller__section(data-shadow='HP-7')
            h1.js-parallax-test section 7
        section.scroller__section(data-shadow='HP-8' data-debug)
            h1.js-parallax-test section 8
        section.scroller__section(data-shadow='HP-10')
            h1.js-parallax-test section 9
        section.scroller__section(data-shadow='HP-11')
            h1.js-parallax-test section 10
        section.scroller__section(data-shadow='HP-12')
            h1.js-parallax-test section 11
    .scroller__triggerT
