.tBlocks(data-conponent='m-comp--tBlocks', data-diretction="up" data-activeId="0")
    .tBlocks__item.tBlocks__item--1.tBlocks__item--active(data-id="0")
        .tBlocks__item__wrap
            .tBlocks__item__container
                .tBlocks__item__notScaled
                    h1
                        |block 1
    .tBlocks__item.tBlocks__item--2(data-id="1")
        .tBlocks__item__wrap
            .tBlocks__item__container
                .tBlocks__item__notScaled
                    h1
                        |block 2
    .tBlocks__item.tBlocks__item--3(data-id="2")
        .tBlocks__item__wrap
            .tBlocks__item__container
                .tBlocks__item__notScaled
                    h1
                        |block 3
