.tGallery(data-diretction="up")
  .tGallery__item.tGallery__item--active
    .tGallery__item__wrap
      h1
        |block 1
  .tGallery__item
    .tGallery__item__wrap
      h1
        |block 2
  .tGallery__item
    .tGallery__item__wrap
      h1
        |block 3
