$containerHeightFallback: 100vh;
$containerHeight: calc(var(--vh, 1vh) * 100);
$defaultHeightFallback: 25vh;
$defaultHeight: calc(var(--vh, 1vh) * 25);
$activeHeightFallback: 75vh;
$activeHeight: calc(var(--vh, 1vh) * 75);

.tGallery {
    display: flex;
    height: $containerHeightFallback;
    height: $containerHeight;
    position: relative;
    overflow: hidden;

    &[data-diretction="up"] {
        align-items: flex-end;

        .tGallery__item--active {
            top: 0;
        }
    }

    &[data-diretction="down"] {
        .tGallery__item--active {
            bottom: 0;
        }
    }

    &__item {
        flex: 0 0 auto;
        width: 50%;
        cursor: pointer;

        * {
            pointer-events: none;
        }

        &--active {
            width: 100%;
            position: absolute;
            cursor: default;
        }

        &.swap-item {
            animation-duration: 0.55s;

            &--formLeft {
                animation-name: swap-from-left;
            }

            &--formRight {
                animation-name: swap-from-right;
            }
        }

        &:nth-of-type(1) {
            .tGallery__item__wrap {
                background-color: #ccc;
            }
        }

        &:nth-of-type(2) {
            .tGallery__item__wrap {
                background-color: #eee;
            }
        }

        &:nth-of-type(3) {
            .tGallery__item__wrap {
                background-color: #ddd;
            }
        }

        &__wrap {
            transition: width 0.55s, height 0.55s;
            height: $defaultHeightFallback;
            height: $defaultHeight;
            overflow: hidden;

            @include when-inside('.tGallery__item--active') {
                height: $activeHeightFallback;
                height: $activeHeight;
            }

            &.tg-form-right {
                float: right;
            }

            &.tg-form-left {
                float: left;
            }
        }
    }
}


@keyframes  swap-from-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes  swap-from-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
