$containerHeightFallback: 100vh;
$containerHeight: calc(var(--vh, 1vh) * 100);
$defaultHeightFallback: 25vh;
$defaultHeight: calc(var(--vh, 1vh) * 25);
$activeHeightFallback: 75vh;
$activeHeight: calc(var(--vh, 1vh) * 75);

.tGallery {
    display: flex;
    height: $containerHeightFallback;
    height: $containerHeight;
    position: relative;
    overflow: hidden;

    &[data-diretction="up"] {
        align-items: flex-end;

        .tGallery__item--active {
            top: 0;
        }
    }

    &[data-diretction="down"] {
        .tGallery__item--active {
            bottom: 0;
        }
    }

    &__item {
        flex: 0 0 auto;
        width: 50%;
        cursor: pointer;

        * {
            pointer-events: none;
        }

        &--active {
            width: 100%;
            position: absolute;
            cursor: default;
        }


        &--1 {
            .tGallery__item__wrap {
                background-color: #ccc;
            }
        }

        &--2 {
            .tGallery__item__wrap {
                background-color: #eee;
            }
        }

        &--3 {
            .tGallery__item__wrap {
                background-color: #ddd;
            }
        }

        &__wrap {
            transition: width 0.55s, height 0.55s;
            height: $defaultHeightFallback;
            height: $defaultHeight;
            overflow: hidden;

            @include when-inside('.tGallery__item--active') {
                height: $activeHeightFallback;
                height: $activeHeight;
            }

            &.tg-form-right {
                float: right;
            }

            &.tg-form-left {
                float: left;
            }
        }
    }
}

.t-swap-item {
    animation-duration: 0.55s;

    &--formLeft {
        animation-name: swap-from-left;
    }

    &--formRight {
        animation-name: swap-from-right;
    }
}


.t-clone {
    position: absolute;

    &--up {
        top: 0;
    }

    &--down {
        bottom: 0;
    }

    &--sx {
        left: 0;
        animation: hideFromLeft 0.55s forwards;
    }

    &--dx {
        right: 0;
        animation: hideFromRight 0.55s forwards;
    }
}

@keyframes  hideFromLeft{
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes  hideFromRight{
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}


@keyframes  swap-from-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes  swap-from-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateY(0);
    }
}
