.transformY {
    &-start {
        transform: translateY(100%);
    }

    &-end {
        transform: translateY(0);
        transition: transform 0.5s 0.15s;
    }
}

.opacity {
    &-start {
        opacity: 0;
    }

    &-end {
        opacity: 1;
        transition: opacity 0.5s 0.15s;
    }
}

.clipath {
    &-start {
        clip-path: polygon(0% 0%, 0% 0%, 0% 200%);
    }

    &-end {
        clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
        transition: clip-path 1.5s 0.15s;
    }
}
