.offset-slider
  .offset-slider__container
    .offset-slider__item(data-width="3500") 
      p
        |!{lorem}
    .offset-slider__item(data-width="3000")
      p
        |!{lorem}
    .offset-slider__item(data-width="2500", data-driven="true") 
      p
        |!{lorem}
  .offset-slider__arrows
    button.offset-slider__prev
      |Pre
    button.offset-slider__next
      |next
  
