title
  |TEST

meta(name="theme-color" content="#ffffff")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(http-equiv="Cache-control" content="public")
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
meta(name="description" content="")

style(type="text/css")
  include ../../www/assets/css/critical.css
  
if isProd
  link(rel="stylesheet" href="assets/dist/" + maincss media="print" onload="this.media='all'; this.onload=null;  document.documentElement.classList.add('css-added');")
  noscript
    link(rel="stylesheet" href="assets/dist/" + maincss media="all")
      
else if !isProd
  link(rel="stylesheet" href="assets/css/main.css" media="print" onload="this.media='all'; this.onload=null;  document.documentElement.classList.add('css-added');")
  noscript
    link(rel="stylesheet" href="assets/css/main.css" media="all")
  
