mixin list(item)
    each val, index in item
        - const heaveChildrenClass = (val.children) ? 'menu-item menu-item-has-children' : 'menu-item'
        
        li(class=heaveChildrenClass)
            - const isValidLink = (val.id !== '#') ? true : false;
            
            if isValidLink
                a(href=permalinkMap[val.id][lang])
                    |!{slugMap[val.id][lang]}
            else
                a(href='#')
                    |!{val.label}
                    
            if val.children
                ul.sub-menu
                    +list(val.children)



.nav-wrap
  .toggle-wrap.clearfix
    .toggle-element
      span
      span
      span
      span
    button.main-arrow-back
  nav.nav(role='navigation')
      ul.main-menu
          +list(navigation)
