extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container.clearfix
            .sidebar.menu-container--sidebar
                include ../includes/navigation.pug
            .content(style="margin-bottom:500px;")
                      
                div(style='height:800px;')
                  // SPRING TEST
                  h1
                    |Spring chain animation
                  button.spring-btn-start(type="button")
                    |start
                  button.spring-btn-back(type="button")
                    |back
                  button.spring-btn-stop(type="button")
                    |stop
                  button.spring-btn-pause(type="button")
                    |pause
                  button.spring-btn-play(type="button")
                    |resume
                  button.spring-playFrom(type="button")
                    |play from label
                  button.spring-reverseNext(type="button")
                    |revrse Next
                  button.spring-btn-reverse(type="button")
                    |reverse
                  .parallax__item-test.spring-target
                  
                div(style='height:800px;')
                  // TWEEN TEST
                  h1
                    |Calssic tween chain animation
                  button.tween-btn-start(type="button")
                    |start
                  button.tween-btn-back(type="button")
                    |back
                  button.tween-btn-stop(type="button")
                    |stop
                  button.tween-btn-pause(type="button")
                    |pause
                  button.tween-btn-play(type="button")
                    |resume
                  button.tween-playFrom(type="button")
                    |play from label
                  button.tween-reverseNext(type="button")
                    |revrse Next
                  button.tween-btn-reverse(type="button")
                    |reverse
                  .parallax__item-test.tween-target
                  
                div(style='height:800px;')
                  // LERP TEST
                  h1
                    |Lerp chain animation
                  button.lerp-btn-start(type="button")
                    |start
                  button.lerp-btn-back(type="button")
                    |back
                  button.lerp-btn-stop(type="button")
                    |stop
                  button.lerp-btn-pause(type="button")
                    |pause
                  button.lerp-btn-play(type="button")
                    |resume
                  button.lerp-playFrom(type="button")
                    |play from label
                  button.lerp-reverseNext(type="button")
                    |revrse Next
                  button.lerp-btn-reverse(type="button")
                    |reverse
                  .parallax__item-test.lerp-target
                  
                div(style='height:800px;')
                  // MIX TEST
                  h1
                    |mix chain animation
                  button.mix-btn-start(type="button")
                    |start
                  button.mix-btn-stop(type="button")
                    |stop
                  button.mix-btn-pause(type="button")
                    |pause
                  button.mix-btn-play(type="button")
                    |resume
                  button.mix-btn-playFrom(type="button")
                    |play from label
                  button.mix-btn-reverseNext(type="button")
                    |revrse Next
                  button.mix-btn-reverse(type="button")
                    |reverse
                  .parallax__item-test.mix-target
                  .parallax__item-test.mix-target2

                

    include ../component/lightbox/pug/lightbox-simple.pug
    include ../component/lightbox/pug/lightbox-image.pug
    include ../component/lightbox/pug/lightbox-video.pug
