extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container.clearfix
            .dragger-container
                .dragger.dragger-test(data-conponent='m-comp--dragger' data-ease="6")
                    .dragger__wrap
                        .dragger__item
                            a(href="https://www.google.com" target="_blank")
                                |test link
            .dragger-container
                .dragger.dragger-test(data-conponent='m-comp--dragger' data-position="top-left")
                    .dragger__wrap
                        .dragger__item

                    
                
