extends default/_wrapper.pug

block content
            
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
            
    main
        .container
            .gaspT
                h2
                    |no pin sticky
                .gaspT__inner.gaspT__inner--0
                    .gaspT__inner__sticky
                        .gaspT__pin
                        .gaspT__pin
                        .gaspT__pin
                        
                h2
                    |animation
                .gaspT__inner.gaspT__inner--1
                    .gaspT__pin
                    .gaspT__pin
                    .gaspT__pin
                    
                h2
                    |scroll
                .gaspT__inner.gaspT__inner--2
                    .gaspT__pin
                    .gaspT__pin
                    .gaspT__pin
                    
            h2
                |parallax simple
                
            .gaspC.gaspC--1
                .gaspT__inner.gaspT__inner--3
                
                
            h2
                |parallax simple from center to top
                
            .gaspC.gaspC--2
                .gaspT__inner.gaspT__inner--4
                
            h2
                |parallax percent
            .gaspP
                .gaspP__inner
                    h2
                        |title
            .gaspP
                .gaspP__inner
                    h2
                        |title

    
