extends default/_wrapper.pug

block content

    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug

    main
        include ../component/gsapHorizontalCustom/pug/gsapHorizontalCustom.pug
