extends default/_wrapper.pug

block content

    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .mouseParallax-wrap
            .m-test.m-test--1
                .circle.js-mouse-parallax-1(data-rangex="10" data-rangey="10")
            .m-test.m-test--1
                .circle.js-mouse-parallax-2(data-rangex="30" data-rangey="30")
            .m-test.m-test--2
                .circle.js-mouse-parallax-3(
                    data-rangex="20"
                    data-rangey="10"
                    data-centerToViewoport)


