extends default/_wrapper.pug

block content

    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug

    main
        .scroller-nav
            button.destroy-scroller(type='button')
                |destroy scroller 1
            button.create-scroller(type='button')
                |create scroller 1

        .test-custom-scroller
            include ../component/horizontalCustom/pug/horizontalCustom.pug
        .test-custom-scroller2
            include ../component/horizontalCustom/pug/horizontalCustom2.pug
        
