extends default/_wrapper.pug

block content

    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug

    main
        .test-custom-scroller
            include ../component/horizontalCustom/pug/horizontalCustom.pug
        .test-custom-scroller2
            include ../component/horizontalCustom/pug/horizontalCustom2.pug
        
