extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        - const items = 81;
        .container.clearfix       
          .radial-stagger
            h1
              | Radial
            .radial-stagger__container
                each i in [...Array(items).keys()]
                  .radial-stagger__item
                    
        
