extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
      //- Element in fixed near body to have better performance
      .scrollStagger__element
        .scrollStagger__item.js-item
      .scrollStagger__element
        .scrollStagger__item.js-item
      .scrollStagger__element
        .scrollStagger__item.js-item
      .scrollStagger__element
        .scrollStagger__item.js-item
      .scrollStagger__element
        .scrollStagger__item.js-item

      .scrollStagger
      
