extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container.clearfix
            .scrollerH-container
                .scrollerH
                    .scrollerH__item
                    .scrollerH__item
                    .scrollerH__item
                    .scrollerH__item
                    .scrollerH__item
                    .scrollerH__item
                    .scrollerH__item
                    
                
