extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container.clearfix(style='margin-left:200px;')
            .scrollerH-container
                .scrollerH
                    .scrollerH__item
                    .scrollerH__item
                    .scrollerH__item
                        .parallax-js-1
                            a(href="https://www.google.com/" target="_blank")
                                |button
                    .scrollerH__item
                        .parallax-js-2(style="display:inline-block;")
                          |test
                    .scrollerH__item
                        .parallax-via-js-opacity
                            |test
                    .scrollerH__item
                        .pluto(style='width:200px;height:150px;border:1px #000 solid;text-align:center;')
                            .parallax-js-pin(style="display:inline-block;border:1px #000 solid;")
                                |test
                    .scrollerH__item
                        .pluto3(style='width:300px;height:100px;border:1px #000 solid;')
                            .parallax-via-js-in
                                .parallax-via-js-out
                                    div(style="display:inline-block;border:1px #000 solid;")
                                        |test

                    .scrollerH__item
                        
            .scrollerH-container2
                .scrollerH2
                    .scrollerH2__item
                    .scrollerH2__item
                    .scrollerH2__item
                        .parallax-js-b1(style="display:inline-block;")
                          |test
                    .scrollerH2__item
                        .pluto2(style='width:300px;height:100px;border:1px #000 solid;')
                            .parallax-js-b2(style="display:inline-block;")
                              |test
                    .scrollerH2__item
                    .scrollerH2__item
                    .scrollerH2__item
            
            .scrollerH-container3
                .scrollerH3
                    .scrollerH3__item
                    .scrollerH3__item
                        .pluto6(style='width:300px;height:100px;border:1px #000 solid;transform:translateY(-100%);')
                        .pluto5(style='width:300px;height:100px;border:1px #000 solid;transform:translateY(-100%);')
                            .parallax-js-c1
                              .parallax-js-c2
                                div(style="display:inline-block;border:1px #000 solid;")
                                  |test
                    .scrollerH3__item
                      .parallax-js-c3(style="display:inline-block;")
                        |test
                    .scrollerH3__item
                        .parallax-js-c4(style="display:inline-block;")
                          |test
                    .scrollerH3__item
                    .scrollerH3__item
                    .scrollerH3__item
                    
                
