extends default/_wrapper.pug

block content

    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug

    main
        .container
            .susy-wrap1.clearfix
                .susy-wrap1__col Col1
                .susy-wrap1__col Col2
                .susy-wrap1__col Col3
                .susy-wrap1__col Col4
                .susy-wrap1__col Col1
                .susy-wrap1__col Col2
                .susy-wrap1__col Col3
                .susy-wrap1__col Col4
            .susy-wrap2.clearfix
                .susy-wrap2__col Col1
                .susy-wrap2__col Col2
                .susy-wrap2__col Col3
                .susy-wrap2__col Col4
                .susy-wrap2__col Col1
                .susy-wrap2__col Col2
                .susy-wrap2__col Col3
                .susy-wrap2__col Col4
            .susy-wrap3.clearfix
                .susy-wrap3__col Col1
                .susy-wrap3__col Col2
                .susy-wrap3__col Col3
            .susy-wrap4.clearfix
                .susy-wrap4__col Col1
                .susy-wrap4__col.clearfix
                    .nest1
                        | nest one
                    .nest2
                        | nest two
                .susy-wrap4__col Col3
