extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container
            .svg-filter
                h2.svg-filter__item.js-glitch
                    |GLITCH
            
            .svg-filter
                h2.svg-filter__item.js-wave
                    |WAVE
            
            .svg-container.svg-filter
                .svg-container__img-container.svg-filter__item.js-predictiveTurbolence(
                    data-invert)
                    img(src=ssgAsset('flower1.jpg'))

                
