extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container.clearfix        
          .shape__container.infinite-tween
            .shape__nav
              h1
                |Infinite
              button.start(type="button")
                |start
              button.stop(type="button")
                |stop
              button.pause(type="button")
                |pause
              button.resume(type="button")
                |resume
              button.reverse(type="button")
                |reverse
              button.startReverse(type="button")
                |startReverse
            .shape__xaxis
            .shape__item
                .shape__target.shape__target--1
                .shape__target.shape__target--2
                .shape__target.shape__target--3
                .shape__target.shape__target--4
                .shape__target.shape__target--5
                .shape__target.shape__target--6
                

    include ../component/lightbox/pug/lightbox-simple.pug
    include ../component/lightbox/pug/lightbox-image.pug
    include ../component/lightbox/pug/lightbox-video.pug
