extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
      .container
        h2
          |tween
        button.tween-play(type="button")
          |play
        button.tween-reset(type="button")
          |reset
        .tween-relative-container
            .tween-relative-item.tween-relative-item--tween
              
      .container
        h2
          |spring
        button.spring-play(type="button")
          |play
        button.spring-reset(type="button")
          |reset
        .tween-relative-container
            .tween-relative-item.tween-relative-item--spring
              
      .container
        h2
          |lerp
        button.lerp-play(type="button")
          |play
        button.lerp-reset(type="button")
          |reset
        .tween-relative-container
            .tween-relative-item.tween-relative-item--lerp
