.container
  button.btn-Lightbox1(type='button')  
    |lighbox 1
  button.btn-Lightbox1(type='button' data-title='lighbox 2' data-description='lorem ipsum single staic')
    |lighbox 2
  br
  br

.container
  button.btn-LightboxImage(type='button' data-url='/assets/img/pic1.jpg' data-title='titolo 1' data-description='lorem ipsum single')
    |lighbox image 1
  button.btn-LightboxImage(type='button' data-url='/assets/img/pic2.jpg')  
    |lighbox image 2
  button.btn-LightboxImage(type='button' data-url='/assets/img/pic3.jpg')  
    |lighbox image 3
  br
  br
    
.container
  button.btn-LightboxImageSlide(type='button' data-url='/assets/img/pic1.jpg' data-title='titolo 1 landscape' data-description='lorem ipsum' data-imagegroup='landscape')  
    |lighbox landscape 1
  button.btn-LightboxImageSlide(type='button' data-title='titolo 2 landscape' data-description='lorem ipsum 2' data-url='/assets/img/pic2.jpg' data-imagegroup='landscape')  
    |lighbox landscape 2
  button.btn-LightboxImageSlide(type='button' data-url='/assets/img/pic3.jpg' data-imagegroup='landscape')  
    |lighbox landscape 3
  br
  br
    
.container
  button.btn-LightboxImageSlide(type='button' data-url='/assets/img/flower1.jpg' data-imagegroup='flower')  
    |lighbox flower 1
  button.btn-LightboxImageSlide(type='button' data-url='/assets/img/flower2.jpg' data-title='titolo 2 flower' data-description='lorem ipsum 2' data-imagegroup='flower')  
    |lighbox flower 2
  button.btn-LightboxImageSlide(type='button' data-url='/assets/img/flower3.jpg' data-imagegroup='flower')  
    |lighbox flower 3
  button.btn-LightboxImageSlide(type='button' data-url='/assets/img/flower4.jpg' data-imagegroup='flower')  
    |lighbox flower 4
  br
  br

.container
  button.btn-LightboxVideo(type='button' data-url='6TPNxhnKZQw')  
    |lighbox video
  button.btn-LightboxVideo(type='button' data-title='titolo 2 video' data-description='lorem ipsum video' data-url='6TPNxhnKZQw')  
    |lighbox video description
  br
  br
