.lightbox.lightbox--image
  .lightbox__wrap
    .lightbox__container
      .lightbox__closeBtn-wrap.clearfix
        button.lightbox__closeBtn(type='button')
      .lightbox__dinamic-content
  .lightbox__description.show
    .lightbox__title
    .lightbox__paragraph
    button.lightbox__description__btn(type='button')
      span.lightbox__description__hide hide
      span.lightbox__description__show show
