.lighbox.lighbox--image
  .lighbox__wrap
    .lighbox__container
      .lighbox__closeBtn-wrap.clearfix
        button.lighbox__closeBtn(type='button')
      .lighbox__dinamic-content
  .lighbox_description.show
    .lighbox_title
    .lighbox_paragraph
    button.lighbox_description__btn(type='button')
      span.lighbox_description__hide hide
      span.lighbox_description__show show
