.gaspT {
    height: 3000px;
    padding-top: 300px;

    &__inner {
        width: 300px;
        height: 500px;
        border: 1px #000 solid;

        &--1,
        &--2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__sticky {
            display: flex;
            position: sticky;
            top: 0;
            justify-content: center;
            width: 100%;
        }
    }

    &__pin {
        width: 50px;
        height: 50px;
        background-color: red;
    }
}

.gaspP,
.gaspC {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px #000 solid;

    &__inner {
        border: 1px #000 solid;
    }

    h2 {
        position: relative;
        transform: translateY(calc(500px - (var(--progress) * 1000px)));
    }
}

.gaspHorizontal {
    &__container {
        width: 150px;
        border: 10px red solid;
    }

    &__item {
        display: flex;
        position: sticky;
        top: 0;
        height: 100vh;
        border: 10px solid #ccc;
    }

    &__card {
        flex: 0 0 100vw;
        padding: 100px;
        background: #ccc;
        background-clip: content-box;
    }
}
