.HP {
    &__trigger {
        @include _mq('desktop') {
            z-index: 10;
            position: relative;
            pointer-events: none;
        }
    }

    &__row {
        @include _mq('desktop') {
            display: flex;
            position: sticky;
            top: 0;
            left: 0;
            height: 100vh;
        }
    }

    &__section {
        height: 100vh;

        @include _mq('desktop') {
            flex: 0 0 auto;
            width: 80vw;
            height: 100vh;
            border: 1px #000 solid;

            &:nth-of-type(2) {
                width: 400px;
            }

            &:nth-of-type(3) {
                width: 40vw;
            }

            &:nth-of-type(4) {
                width: 300px;
            }

            &:nth-of-type(7) {
                width: 50px;
            }
        }
    }

    &__shadowEl {
        display: none;

        @include _mq('desktop') {
            width: 100%;
            // border: 2px red solid;
            display: block;
            pointer-events: none;
        }
    }

    &__shadowTransition-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    &__shadowTransition {
        display: none;

        @include _mq('desktop') {
            border: 1px #000 solid;
            pointer-events: none;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            // background: rgba($black, 0.2);

            &__start {
                position: absolute;
                bottom: 100%;
                right: 30px;
            }

            &__end {
                position: absolute;
                top: 100%;
                left: 30px;
            }
        }
    }
}
