.test-custom-scroller,
.test-custom-scroller2 {
    .scroller__section {
        @include _mq('small') {
            width: 80vw;
            height: 100%;
            border: 1px #000 solid;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-of-type(2) {
                width: 400px;
            }

            &:nth-of-type(3) {
                width: 40vw;
            }

            &:nth-of-type(4) {
                width: 400px;
            }

            &:nth-of-type(7) {
                width: 50px;
            }
        }
    }
}
