.menu-container {
    position: relative;
    z-index: 2;
}

.sidebar {
    background-color: #bbb;

    @include _mq('tablet') {
        width: 30%;
        float: left;
        padding: 1rem;
    }
}

.content {
    @include _mq('tablet') {
        width: 70%;
        float: right;
        padding: 1rem;
    }
}

.parallax__item-test {
    width: rem(140px);
    height: rem(140px);
    background-color: red;
    z-index: 9;

    &--float {
        float: left;
    }
}

.trasition-item-test {
    height: 200px;
    background-color: #ccc;
}

//Pop toggle test

.popTargetDrop {
    span {
        width: 200px;
        height: 200px;
        display: block;
        border: 1px black solid;
    }
}

.popTarget {
    padding: 50px 20px;
    width: 200px;
    height: 200px;
    border: 1px $black solid;
    position: fixed;
    width: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.35s;
    height: auto;
    background-color: $black;
    color: $white;
    z-index: 11;

    &.active {
        transform: translateX(0);
    }
}

// ACCORDION TEST
.accrdion-item__content {
    background-color: $black;

    span {
        height: 100px;
        display: block;
    }
}

// fixed Parallax test
.dummy-container {
    position: relative;
}

.testFixed {
    display: inline-block;
    margin: auto;
}

.dummy-item {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px $black solid;

    &-2 {
        top: 50vh;
        height: 30vh;
    }
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.inlineBLock {
    display: inline-block;
}

.index-timeline {
    position: relative;
    max-width: 600px;
    margin: auto;
    text-align: center;

    &__dummy {
        position: absolute;
        left: 0;
        right: 0;
        border: 1px #ccc solid;

        &--1 {
            height: 400px;
            top: 0;
        }

        &--2 {
            height: 200px;
            top: 400px;
        }
    }
}

// animate
.interceptObserver {
    height: 100vh;
    border: 1px $black solid;
    transition: background 0.35s;

    &.animate {
        background: #ccc;
    }
}

.interceptTrigger {
    position: fixed;
    top: 50%;
    right: 0;
    transition: background 0.35s;

    &.animate {
        background: $black;
    }
}
