.sidebar {
  background-color: #bbb;

  @include _mq('tablet') {
    width: 30%;
    float: left;
    padding: 1rem;
  }
}

.content {
  @include _mq('tablet') {
    width: 70%;
    float: right;
    padding: 1rem;
  }
}

.parallax__item-test {
  width: rem(140px);
  height: rem(140px);
  background-color: red;
  z-index: 9;

  &--float {
    float: left;
  }
}



//Pop toggle test

.popTargetDrop {
    width: 200px;
    height: 200px;
    border: 1px $black solid;
}

.popTarget {
    padding: 50px 20px;
    width: 200px;
    height: 200px;
    border: 1px $black solid;
    position: fixed;
    width: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform .35s;
    height: auto;
    background-color: $black;
    color: $white;
    z-index: 11;

    &.active {
        transform: translateX(0);
    }
}

// ACCORDION TEST
.accrdion-item__content {
    background-color: $black;
    height: 100px;
    display: none;
}
