.mouseStagger {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        position: fixed;
        top: 0;
        left: 0;
        background: red;
        border-radius: 100%;
        top: calc(var(--size) / -2);
        left: calc(var(--size) / -2);
        width: var(--size);
        height: var(--size);
        pointer-events: none;

        &--1 {
            --size: 50px;
        }

        &--2 {
            --size: 40px;
        }

        &--3 {
            --size: 30px;
        }

        &--4 {
            --size: 20px;
        }

        &--5 {
            --size: 10px;
        }

        &--6 {
            --size: 5px;
        }

        &--7 {
            --size: 5px;
        }
    }
}

.circle-stagger-container {
    width: 50px;
    height: 50px;
    position: relative;
}

.stagger {
    &__item {
        position: absolute;
        background: #cdb3b3;
        border-radius: 100%;
        top: calc(var(--size) / -2);
        left: calc(var(--size) / -2);
        width: var(--size);
        height: var(--size);
        pointer-events: none;

        &--1 {
            --size: 150px;
            opacity: 0.2;
        }

        &--2 {
            --size: 120px;
            opacity: 0.3;
        }

        &--3 {
            --size: 90px;
            opacity: 0.4;
        }

        &--4 {
            --size: 50px;
            opacity: 0.5;
        }

        &--5 {
            --size: 30px;
            opacity: 0.6;
        }

        &--6 {
            --size: 10px;
            opacity: 0.7;
        }
    }
}
