$mediaQ: desktop;

.scroller-nav {
    bottom: 20px;
    left: 20px;
    position: fixed;
    z-index: 10;
}

.scroller__section,
.scroller__section2 {
    @include mq($from: $mediaQ) {
        align-items: center;
        border: 1px #000 solid;
        display: flex;
        justify-content: center;

        &:nth-of-type(4) {
            h1 {
                flex: 0 0 auto;
                font-size: 300px;
                pointer-events: none;
                user-select: none;
                white-space: nowrap;
                pointer-events: none;
            }
        }
    }
}

.scroller__section2 {
    @include mq($from: $mediaQ) {
        width: 80vw;

        &:nth-of-type(2) {
            width: 400px;
        }

        &:nth-of-type(3) {
            width: 40vw;
        }

        &:nth-of-type(4) {
            width: 400px;
        }

        &:nth-of-type(7) {
            width: 50px;
        }
    }
}
