.scrollStagger {
    height: 400vh;

    &__btns {
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.mySvg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    overflow: visible !important;

    rect {
        @for $i from 1 through 30 {
            &:nth-of-type(#{$i}) {
                fill: none;
                fill: white;
                stroke-width: 0.1;
                opacity: #{$i * 0.05};
            }
        }
    }
}
