.page-scrollStagger {
    background: $black;
    footer {
        background: $black;
    }
}

.scrollStagger {
    height: 400vh;
}

.mySvg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;

    rect {
        @for $i from 1 through 30 {
            &:nth-of-type(#{$i}) {
                fill: none;
                // stroke: red;
                fill: $black;
                stroke-width: 0.1;
                opacity: #{$i * 0.03};
            }
        }
    }
}
