.scrollerH-nav {
    bottom: 20px;
    left: 20px;
    position: fixed;
    z-index: 10;
}

// FULL
.scrollerH {
    background: $white;
    border: 1px red solid;
    display: flex;
    height: 50vh;
    left: 0;
    position: fixed;
    top: 70px;

    &__item {
        border: 1px #ccc solid;
        flex: 0 0 auto;
        height: 100%;
        width: 60vw;

        &:nth-of-type(2) {
            width: 200px;
        }
    }
}

// CONSTRICTED HORZONTAL
.scrollerH-container2 {
    border: 1px green solid;
    height: 50vh;
    margin-top: 50vh;
    overflow: hidden;
    position: relative;
    width: 50vw;
}

.scrollerH2 {
    background: $white;
    border: 1px red solid;
    box-sizing: border-box;
    display: flex;
    height: 50vh;
    left: 0;
    margin-right: 20px;
    position: absolute;
    top: 0;

    &__item {
        border: 1px #ccc solid;
        flex: 0 0 auto;
        height: 100%;
        width: 60vw;

        &:nth-of-type(2) {
            width: 200px;
        }
    }
}

// CONSTRICTED VERTICAL
.scrollerH-container3 {
    border: 1px green solid;
    height: 50vh;
    overflow: hidden;
    position: relative;
    width: 50vw;
}

.scrollerH3 {
    background: $white;
    border: 1px red solid;
    box-sizing: border-box;
    left: 0;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    width: 100%;

    &__item {
        border: 1px #ccc solid;
        height: 60vw;

        &:nth-of-type(2) {
            height: 200px;
        }
    }
}

.scrollerInput {
    left: 50%;
    position: absolute;
    top: 50vh;
    transform: translateX(-50%);
    z-index: 10;
}
