.radial-stress-stagger {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__container {
        display: grid;
        grid-template-columns: repeat(45, 1fr);
        grid-gap: 10px;
    }

    &__item {
        width: 30px;
        height: 30px;
        background: #ccc;
    }
}
