.svg-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 200px;
    }

    &__img-container {
        padding: 50px;
    }

    img {
        width: 300px;
    }
}
