.m-section(
    data-conponent='m-comp--section'
    data-footer='footer')
    .m-section__container
        .m-section__item
        .m-section__item
        .m-section__item
        .m-section__item
        .m-section__item
