.scroller
    .scroller__row
        section.scroller__section(data-shadow='HP-1')
            h1 section 1
        section.scroller__section(data-shadow='HP-2')
            h1 section 2
        section.scroller__section.scroller__section--3(data-shadow='HP-3')
            h1(data-shadow='HP-3-title' data-debug) section 3
        section.scroller__section(data-shadow='HP-4')
            h1 section 4
        section.scroller__section(data-shadow='HP-5')
            h1 section 5
        section.scroller__section.scroller__section--3(data-shadow='HP-6')
            h1 section 6
        section.scroller__section(data-shadow='HP-7')
            h1 section 7
        section.scroller__section(data-shadow='HP-8' data-debug)
            h1 section 8
        section.scroller__section(data-shadow='HP-9')
            h1 section 9
    .scroller__trigger
