.fit-img-container {
	overflow: hidden;
	position: relative;

}

.fit-img {
	position: absolute;
}

.fit-height {
	height: 100%;
	left: 50%;
	max-width: none;
	top: 0;
	transform: translateX(-50%);
	width: auto;
}

.fit-width {
	height: auto;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
