.dragger {
    position: relative;
    pointer-events: none;

    &__wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__item {
        pointer-events: all;
    }
}
