<!doctype html>

include mixins/getCategoryName.pug
include mixins/getTagName.pug
include mixins/getSlugName.pug
include mixins/getVal.pug

html
    head
        include includes/head.pug
        block content    
        include includes/footer.pug
        
