extends _wrapper.pug

block content
    body
        div(id="spriteSvg" data-svg="/assets/svg/svg.svg")
            
        header
            .container
                include includes/langSelector.pug
            .container.menu-container.menu-container--top
                include includes/navigation.pug
        main
            .container
                if importTag && importTag.length
                    div
                        |display tag:
                    each tag, key in importTag
                        +getTagName(tag,' | ')
                hr
                if tags
                    each post, key in tags
                        div
                            p
                                +getVal(post, 'date')
                            a(href=post.permalink)
                                +getVal(post, 'data', 'title')
                            p
                                +getVal(post, 'data', 'description')
                            p
                                |in 
                                +getCategoryName(post.category)
                            div
                                |tag:
                            div
                                each tag, key in post.tag
                                    +getTagName(tag,' | ')
                            hr
                                
        
