<!doctype html>
html
    head
        include pug/head.pug

    body
        div(id="spriteSvg" data-svg="/assets/svg/svg.svg")
            
        header
            .container
                include pug/langSelector.pug
            .container.menu-container.menu-container--top
                include pug/navigation.pug
        main
            .container
                each category, key in posts
                    each post, key in category
                        div
                            p
                                |!{post.data.date}
                            a(href=post.permalink)
                                |!{post.data.title}
                            p
                                |!{post.data.description}
                            hr
                
                
        include pug/footer.pug
        
