<!doctype html>
html
    head
        include pug/head.pug

    body.gsap
        div(id="spriteSvg" data-svg="/assets/svg/svg.svg")
            
        header
            .container
                include pug/langSelector.pug
            .container.menu-container.menu-container--top
                include pug/navigation.pug
                
        main
            .container
                .gaspT
                    h2
                        |no pin sticky
                    .gaspT__inner.gaspT__inner--0
                        .gaspT__inner__sticky
                            .gaspT__pin
                            .gaspT__pin
                            .gaspT__pin
                    h2
                        |animation
                    .gaspT__inner.gaspT__inner--1
                        .gaspT__pin
                        .gaspT__pin
                        .gaspT__pin
                    h2
                        |scroll
                    .gaspT__inner.gaspT__inner--2
                        .gaspT__pin
                        .gaspT__pin
                        .gaspT__pin
                .gaspP
                    .gaspP__inner
                        h2
                            |title
                .gaspP
                    .gaspP__inner
                        h2
                            |title
        include pug/footer.pug
        
