<!doctype html>
html
    head
        include pug/head.pug

    body.gsap
        div(id="spriteSvg" data-svg="/assets/svg/svg.svg")
            
        header
            .container
                include pug/langSelector.pug
            .container.menu-container.menu-container--top
                include pug/navigation.pug
                
        main
            .gaspHorizontal
                .gaspHorizontal__container.gaspHorizontal__container--0
                    .gaspHorizontal__item
                        .gaspHorizontal__card
                        .gaspHorizontal__card
                        .gaspHorizontal__card
                        .gaspHorizontal__card
                            
                .gaspHorizontal__container.gaspHorizontal__container--1
                    .gaspHorizontal__item
                        .gaspHorizontal__card
                        .gaspHorizontal__card
                        .gaspHorizontal__card
                        .gaspHorizontal__card

        include pug/footer.pug
