extends _wrapper.pug

block content
    body
        div(id="spriteSvg" data-svg="/assets/svg/svg.svg")
            
        header
            .container
                include pug/langSelector.pug
            .container.menu-container.menu-container--top
                include pug/navigation.pug
        main
            .mouseParallax-wrap
                .m-test.m-test--1
                    .mouseParallax__container
                        .mouseParallax__item(data-conponent='m-comp--mouseParallax'
                            data-range="10")
                            .circle
                .m-test.m-test--1
                    .mouseParallax__container
                        .mouseParallax__item(data-conponent='m-comp--mouseParallax'
                            data-range="30")
                            .circle
                .m-test.m-test--2
                    .mouseParallax__container
                        .mouseParallax__item(data-conponent='m-comp--mouseParallax'
                            data-range="20"
                            data-centerToViewoport)
                            .circle
            

        
