.toolTip-wrap
  button.tooltip(type='button', data-conponent='m-comp--tooltip', data-tooltip='<a href="www.google.com">des</a>c tooltip 1')  toolti 1
  
.toolTip-wrap  
  button.tooltip(type='button', data-conponent='m-comp--tooltip', data-tooltip='desc tooltip 2')  toolti 1

.toolTip-wrap 
  button.tooltip(type='button', data-conponent='m-comp--tooltip', data-tooltip='desc tooltip 3')  toolti 2
  
.toolTip-wrap   
  button.tooltip(type='button', data-conponent='m-comp--tooltip', data-tooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry")  toolti 3
br
br
