{% for item in items %}
    <span class="class-test">
        <ul>
            <div class="sss">
                {% if condition %}
                    <div class="pippo"></div>
                {% endif %}
            </div>
        </ul>
    </span>
{% endfor %}
